@import url("/css/common.css");
@import url("/css/font.css");
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#6a85b6), to(#bac8e0));
  background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
}

body h1 {
  margin: 20px 0;
  color: #fff;
  font-size: 30px;
  font-weight: normal;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

body .music_wrap .img_container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 210px;
  height: 210px;
}

body .music_wrap .img_container img {
  border-radius: 50%;
  width: inherit;
  height: inherit;
  -webkit-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 3500ms;
          animation-duration: 3500ms;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

body .music_wrap .img_container img.play {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

body .music_wrap .img_container img.paused {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

body .music_wrap .img_container .img_turntable {
  width: 110px;
  height: 110px;
  position: absolute;
  top: -30px;
  right: -30px;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  z-index: 9;
  opacity: 0;
  background: url("/image/music_player/turntable.png") no-repeat center;
  background-size: contain;
  -webkit-transition: top 500ms ease-in-out, opacity 500ms ease-in-out;
  transition: top 500ms ease-in-out, opacity 500ms ease-in-out;
}

body .music_wrap .img_container .img_circle {
  position: absolute;
  z-index: 9;
  width: 12%;
  height: 12%;
  border-radius: 50%;
  background: #fff;
}

body .music_wrap .img_container::before, body .music_wrap .img_container::after {
  content: '';
  position: absolute;
  z-index: 9;
  display: block;
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 50%;
}

body .music_wrap .img_container::before {
  width: 94%;
  height: 94%;
}

body .music_wrap .img_container::after {
  width: 30%;
  height: 30%;
}

body .music_wrap .music_container {
  margin: 20px 0 10px;
}

body .music_wrap .music_container > * {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
}

body .music_wrap .music_container > p {
  font-size: 25px;
  font-weight: 600;
}

body .music_wrap .music_container > span {
  display: block;
  padding-top: 5px;
  font-size: 15px;
}

body .music_wrap .music_container .progress_cont {
  margin-top: 20px;
  width: 100%;
  height: 4px;
  background: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

body .music_wrap .music_container .progress_cont .progress {
  width: 0;
  height: 4px;
  background: #fff;
}

body .music_wrap .music_container input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-top: 20px;
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.3);
}

body .music_wrap .music_container input[type=range]:focus {
  outline: none;
}

body .music_wrap .music_container input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

body .music_wrap .nav_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 210px;
  margin: 10px 30px;
}

body .music_wrap .nav_container button {
  padding: 10px;
  border: none;
  background: none;
  cursor: pointer;
}

body .music_wrap .nav_container button.play_btn {
  width: 60px;
  height: 60px;
  background-image: url("/image/music_player/play.png");
  background-size: 40px 40px;
  background-position: center;
  background-repeat: no-repeat;
}

body .music_wrap .nav_container button.play_btn.paused {
  background-image: url("/image/music_player/pause.png");
}

body .music_wrap .nav_container button.prev_btn, body .music_wrap .nav_container button.next_btn {
  width: 45px;
  height: 45px;
  background: url("/image/music_player/prev.png") no-repeat center;
  background-size: 25px 25px;
}

body .music_wrap .nav_container button.next_btn {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
